# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
castbox_venv/

# IDE files
.vscode/
.idea/

# Output files
output/
local_settings.py
scraper.log
# Miscellaneous
.DS_Store
media/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
